
  
<div class="app-container">

  <app-login (loginSuccess)="showMainPage()"></app-login>
  <div class="main" *ngIf="showMain">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <div class="app-content">
      <div class="sidebar" [ngClass]="{ 'sidebar-closed': !sidebarOpened }">
        <app-sidebar [opened]="sidebarOpened"></app-sidebar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
        
      </div>
    </div>
    <app-footer></app-footer>
  </div>

</div>