<div class="card-container">
  <div class="card flex justify-content-center" *ngFor="let brand of brands">
    <p-card
      header="{{ brand.name }}"

      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <div class="carType" >
        <p></p>
        <ng-template pTemplate="footer">
          <p-button label="detail" icon="pi pi-check"></p-button>
        </ng-template>
      </div>
    </p-card>
  </div>
</div>
